
  <!-- Modal -->
  <div class="modal fade" id="addLocationModal" tabindex="-1" aria-labelledby="addLocationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addLocationModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
            <form action="{% url 'create_shipment_location' %}" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="location" class="form-label">{{ addLocationForm.location.label }}</label>
                  {{ addLocationForm.location }}
                </div>

                <div class="mb-3">
                  <label for="location" class="form-label">{{ addLocationForm.status.label }}</label>
                  {{ addLocationForm.status }}
                </div>

                
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">{{ addLocationForm.remark.label }}</label>
                  {{ addLocationForm.remark }}
                </div>

                <input type="hidden" name="shipment_id" value="{{ shipment.id }}" />

               <div class="d-flex" style="justify-content:center" >
                <button type="submit" class="btn btn-primary">Create</button>
               </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>