<style type="text/css">
    input { 
        padding: 15px;
        margin-top: 30px;
    }
    a:hover{
        color:white;
    }
</style>

<nav style="background:#5b80b2;padding:15px">
    <div style="display:flex;align-items:center; justify-content:space-around">
        <div>
            <h5 style="color:#f5dd5d">WorldSpeedCargo Admin</h5>
        </div>

        <div>
            <ul style="display:inline">
                <l1><a href="{%url 'shipment-list' %}"> List</a></li>
                <l1><a href="{%url 'createShipment' %}" style="margin-left:20px">Create </a></li>
            </ul>
        </div>
    </div>
</nav>