{%extends 'pages/helpers/Base.html'%}
{%load static %}
{%block content%}


<body>

    {%include 'pages/helpers/header.html'%}
  
    <main id="main">
  
      <!-- ======= Featured Services Section Section ======= -->
      <section id="featured-services">
        <div class="container">
          <div class="row">
  
            <div class="col-lg-4 box">
              <i class="fas fa-truck-moving"></i>
              <h4 class="title"><a href="">Cargo By Road</a></h4>
              <p class="description">Worry less and awesome feeling when you get shift to your new home, its just a amusing road tour are being safely moved by our experts.</p>
            </div>
  
            <div class="col-lg-4 box box-bg">
             <i class="fas fa-plane-departure"></i>
              <h4 class="title"><a href="">Cargo By Air</a></h4>
              <p class="description">Cargo shipping, as well as major carriers to move your goods via air cargo, We move house or relocate office of individuals and businesses. </p>
            </div>
  
            <div class="col-lg-4 box">
              <i class="fas fa-ship"></i>
              <h4 class="title"><a href="">Cargo By ship</a></h4>
              <p class="description">Highly skilled safe and secure for packing and shipping, storage and relocation services of goods via Sea. We focus on clients happiness</p>
            </div>
  
          </div>
        </div>
      </section><!-- End Featured Services Section -->
  
  
       <!-- ======= Our Clients Section ======= -->
       <section id="clients">
        <div class="container" data-aos="zoom-in">
  
  
          <div class="clients-slider swiper">
            <div class="swiper-wrapper align-items-center">
              <div class="swiper-slide"><img src="{%static 'assets/img/clients/client-1.png' %}" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="{%static 'assets/img/clients/client-2.png' %}" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="{%static 'assets/img/clients/client-3.png' %}" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="{%static 'assets/img/clients/client-4.png' %}" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="{%static 'assets/img/clients/client-5.png' %}" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="{%static 'assets/img/clients/client-6.png' %}" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="{%static 'assets/img/clients/client-7.png' %}" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="{%static 'assets/img/clients/client-8.png' %}" class="img-fluid" alt=""></div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
  
        </div>
      </section><!-- End Our Clients Section -->
  
  
      <!-- ======= About Us Section ======= -->
      <section id="about">
        <div class="container" data-aos="fade-up">
  
          <header class="section-header">
            <h3>About Us</h3>
            <p>Worldspeedcargo welcomes you to the world of Courier Services, Logistics, Cargo, Warehousing, Chain supply management a name that is sufficient to remove your moving and packing burden from your shoulders. Worldspeedcargo have been providing the moving and packing service for 24 years. In this fast moving scenario we provide the easiness to all our customers around the Europe with the services like:- Transportation, Cargo, Logistics, Distribution, Packing, Unpacking, Loading, Unloading adjusting, Insurance, Wooden standard packing by skilled packers and to load your house hold in container with safety and carefully as well.</p>
          </header>
  
          <div class="row about-cols">
  
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
              <div class="about-col">
                <div class="img">
                  <img src="{%static 'assets/img/CCCCCCCCCC.jpg' %}" alt="" class="img-fluid">
                  <div class="icon"><i class="bi bi-bar-chart"></i></div>
                </div>
                <h2 class="title"><a href="#">Ground transport</a></h2>
                <p>
                  Worldspeedcargo providing a wide range of services such as Packing and Moving services, Transportation Services, Car Carrier Services, Loading Services and Cargo Services. 
                </p>
              </div>
            </div>
  
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
              <div class="about-col">
                <div class="img">
                  <img src="{%static 'assets/img/wareeeee.jpg' %}" alt="" class="img-fluid">
                  <div class="icon"><i class="bi bi-brightness-high"></i></div>
                </div>
                <h2 class="title"><a href="#">Warehousing</a></h2>
                <p>
                  Warehousing and storage solutions provided by Worldspeedcargo. We have commercial area for storage of goods. Our warehouse logistics services are available in National and International Locations.
                </p>
              </div>
            </div>
  
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
              <div class="about-col">
                <div class="img">
                  <img src="{%static 'assets/img/hhhhhhhf.jpg' %}" alt="" class="img-fluid">
                  <div class="icon"><i class="bi bi-calendar4-week"></i></div>
                </div>
                <h2 class="title"><a href="#">Packaging and storage</a></h2>
                <p>
                  We can provide a complete conventional and high-density packing and storage service including the supply of all goods and packaging materials, Handling and Distribution services and Logistics
                </p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End About Us Section -->
  
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <img src="{%static 'assets/img/wwwwwwwww.jpg' %}" style="padding-top: 80px;" alt="" class="img-fluid">
          <p></p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <a href="{%static 'assets/WORLDSPEEDCARGO-DOC.pdf' %}"><img src="{%static 'assets/img/document.png' %}" alt="" class="img-fluid"></a><br>
          <hr class="my-4">
          <h3 class="text-center"><a href="{%static 'assets/WORLDSPEEDCARGO-DOC.pdf' %}"> **Company Information**</a></h3>
          <hr class="my-4">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <img src="{%static 'assets/img/llllllllll.jpg' %}" style="padding-top: 80px;" alt="" class="img-fluid">
        </div>
      </div>
  
      <!-- ======= Services Section ======= -->
      <section id="services">
        <div class="container" data-aos="fade-up">
  
          <header class="section-header wow fadeInUp">
            <h3>what we offer</h3>
            
          </header>
  
          <div class="row">
  
            <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="far fa-handshake"></i></div>
              <h4 class="title"><a href="">Trustable</a></h4>
              <p class="description">100% Safe and secure moving services, Well Trained Team members</p>
            </div>
            <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="fas fa-users"></i></div>
              <h4 class="title"><a href="">Support 24x7</a></h4>
              <p class="description">We specialize in providing support with reliable and cost-effective solutions</p>
            </div>
            <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="fas fa-gift"></i></div>
              <h4 class="title"><a href="">Rewards</a></h4>
              <p class="description">Europes most economical Movers. Time Bound Delivery hassle free shifting.</p>
            </div>
            <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="fas fa-money-bill-alt"></i></div>
              <h4 class="title"><a href="">Satisfied cost</a></h4>
              <p class="description">Save upto 10% more from top rated movers in Europe. </p>
            </div>
            <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="fas fa-child"></i></div>
              <h4 class="title"><a href="">User friendly</a></h4>
              <p class="description">We are responsive, careful and friendly on phone and mail No hidden charges! </p>
            </div>
            <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="fas fa-tags"></i></div>
              <h4 class="title"><a href="">Discounts</a></h4>
              <p class="description">10 to 30% off deals in Moving home relocation, domestic and local Moving</p>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Services Section -->
  
      <!-- ======= Call To Action Section ======= -->
      <section id="call-to-action">
        <div class="container text-center" data-aos="zoom-in">
          <h3>Worldspeedcargo is the leading logistics Company in the world! We are a service provider with wide range of domestic and international Courier Services, Car Moving, Cargo, Relocation, Logistics and all types of transportion.</h3>
          <p> 
  
            </p>
          <a class="cta-btn" href="https://www.websupportmails.cc/tracking-page/"><b>Track Shipment <i class="bi bi-arrow-right"></i></b></a>
        </div>
      </section><!-- End Call To Action Section -->
  
      
  
      <!-- ======= Facts Section ======= -->
      <section id="facts">
        <div class="container" data-aos="fade-up">
  
          <header class="section-header">
            <h3>Why Choose Us</h3>
            
          </header>
  
          <div class="row counters">
  
            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="12386" data-purecounter-duration="1" class="purecounter"></span>
              <h4>Delivered Packages</h4>
            </div>
  
            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="35195" data-purecounter-duration="1" class="purecounter"></span>
              <h4>Satisfied clients</h4>
            </div>
  
            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="1540" data-purecounter-duration="1" class="purecounter"></span>
              <h4>Distance Covered</h4>
            </div>
  
            <div class="col-lg-3 col-6 text-center">
              <span data-purecounter-start="0" data-purecounter-end="40" data-purecounter-duration="1" class="purecounter"></span>
              <h4>Countries Covered</h4>
            </div>
  
          </div>
  
         <!-- <div class="facts-img">
            <img src="assets/img/facts-img.png" alt="" class="img-fluid">
          </div>-->
  
        </div>
      </section><!-- End Facts Section -->
  
     
  
      <!-- ======= Our Clients Section ======= -->
      <section id="clients">
        <div class="container" data-aos="zoom-in">
  
         
          <div class="clients-slider swiper">
            <div class="swiper-wrapper align-items-center">
              <div class="swiper-slide"><img src="{%static 'assets/img/clients/client-1.png' %}" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="{%static 'assets/img/clients/client-2.png' %}" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="{%static 'assets/img/clients/client-3.png' %}" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="{%static 'assets/img/clients/client-4.png' %}" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="{%static 'assets/img/clients/client-5.png' %}" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="{%static 'assets/img/clients/client-6.png' %}" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="{%static 'assets/img/clients/client-7.png' %}" class="img-fluid" alt=""></div>
              <div class="swiper-slide"><img src="{%static 'assets/img/clients/client-8.png' %}" class="img-fluid" alt=""></div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
  
        </div>
      </section><!-- End Our Clients Section -->
  
      <!-- ======= Testimonials Section ======= -->
      <section id="testimonials" class="section-bg">
        <div class="container" data-aos="fade-up">
  
          <header class="section-header">
            <h3>Testimonials </h3>
          </header>
  
          <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <img src="{%static 'assets/img/testimonial-1.jpg' %}" class="testimonial-img" alt="">
                  <h3>Saul Goodman</h3>
                  <h4>Client</h4>
                  <p>
                    <img src="{%static 'assets/img/quote-sign-left.png' %}" class="quote-sign-left" alt="">
                    While discussing about worldspeedcargo, right from the very first call they answered like professionals. They came on the day that I asked and packed the complete stuff and shipped it. They shipped it on time and not a single thing got missing. They have shipped it without any damage to a single piece. They are the real professionals for the Courier Services, with a reasonable service charge.
                    <img src="{%static 'assets/img/quote-sign-right.png' %}" class="quote-sign-right" alt="">
                  </p>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <img src="{% static 'assets/img/testimonial-2.jpg' %}" class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>Client</h4>
                  <p>
                    <img src="{% static 'assets/img/quote-sign-left.png' %}" class="quote-sign-left" alt="">
                    Recently I moved from Indore to Mumbai. I had excellent experience with worldspeedcargo Courier Services; they moved luggage on time and were co-operative. Luggage had couple of paintings with glass framing. Whole luggage was shipped on time without any damage, their price is reasonable and they told it right primary time. I had tried to contact other Courier Services too, some of them at first told very high price and later less price. I didn't face such issues with worldspeedcargo Packers, they told convenient price at first time.mg/quote-sign-right.png" class="quote-sign-right" alt="">
                  </p>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <img src="{%static 'assets/img/testimonial-3.jpg' %}" class="testimonial-img" alt="">
                  <h3>Jena Karlis</h3>
                  <h4>Client</h4>
                  <p>
                    <img src="{% static 'assets/img/quote-sign-left.png' %}" class="quote-sign-left" alt="">
                    My goods were shipped from Bhopal to Pune and it was done by worldspeedcargo Courier Services England, they were on time to pack and load the goods which was nicely done. These people have good behavior and very good nature and as per them, trust is the main thing for them and I have experienced their trust.Good services provided by worldspeedcargo Courier Services.
                    <img src="{%static 'assets/img/quote-sign-right.png' %}" class="quote-sign-right" alt="">
                  </p>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <img src="{%static 'assets/img/testimonial-4.jpg' %}" class="testimonial-img" alt="">
                  <h3>Matt Brandon</h3>
                  <h4>Client</h4>
                  <p>
                    <img src="{% static 'assets/img/quote-sign-left.png' %}" class="quote-sign-left" alt="">
                    This is my first time that I used this company to move my household goods from Indore to Mumbai and I got best of service provided by Mr. Atul Kumar. Faculty provided by company is best in service and I fully satisfied by worldspeedcargo Courier Services
                    <img src="{%static 'assets/img/quote-sign-right.png' %}" class="quote-sign-right" alt="">
                  </p>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <img src="{%static 'assets/img/testimonial-5.jpg' %}" class="testimonial-img" alt="">
                  <h3>John Larson</h3>
                  <h4>Electrical Engineer</h4>
                  <p>
                    <img src="{% static 'assets/img/quote-sign-left.png' %}" class="quote-sign-left" alt="">
                    Last week I had shipped my car from Indore to Bangalore via worldspeedcargo Courier Services. They gave a competitive and reasonable quotation. Based on that I had confirmed with them. There guy had visited to my place given me all the documents like car condition copy, Invoice, Payment receipt etc. They promised me to delivering my car in 3-4 days of time and they did the same. I had received my car in 3 days of time safely. No scratches or dent occur. I am happy with their service and recommended to all my friends.
                    <img src="assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
                  </p>
                </div>
              </div><!-- End testimonial item -->
  
            </div>
            <div class="swiper-pagination"></div>
          </div>
  
        </div>
      </section><!-- End Testimonials Section -->
  
      <!-- ======= Team Section ======= -->
      <section id="team">
        <div class="container" data-aos="fade-up">
         
  
          <div class="row">
  
            <div class="col-lg-3 col-md-6">
              <div class="member" data-aos="fade-up" data-aos-delay="100">
                <img src="https://worldspeedcargo.com/assets/img/CCCCCCCCCC.jpg" class="img-fluid" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Walter White</h4>
                    
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="member" data-aos="fade-up" data-aos-delay="200">
                <img src="https://worldspeedcargo.com/assets/img/airrrrr.jpg" class="img-fluid" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Sarah Jhonson</h4>
                   
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="member" data-aos="fade-up" data-aos-delay="300">
                <img src="https://worldspeedcargo.com/assets/img/see.jpg" class="img-fluid" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>William Anderson</h4>
                    
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="member" data-aos="fade-up" data-aos-delay="400">
                <img src="https://worldspeedcargo.com/assets/img/storage.jpg" class="img-fluid" alt="">
                <div class="member-info">
                  <div class="member-info-content">
                    <h4>Amanda Jepson</h4>
                    
                  </div>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Team Section -->
  
      <!-- ======= Contact Section ======= -->
      <section id="contact" class="section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h3>Contact Us</h3>
            
          </div>
  
          <div class="row contact-info">
  
            <div class="col-md-4">
              <div class="contact-address">
                <i class="bi bi-geo-alt"></i>
                <h3>Address</h3>
                <address>301, Indigo Icon Tower - Cluster F - Dubai - United Arab Emirates
  </address>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="contact-phone">
                <i class="bi bi-phone"></i>
                <h3>Phone Number</h3>
                <p><a href="tel:+155895548855">+9718022308 <br>+17085840747</a></p>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="contact-email">
                <i class="bi bi-envelope"></i>
                <h3>Email</h3>
                <p><a href="mailto:Support@worldspeedcargo.com">Support@worldspeedcargo.com</a></p>
              </div>
            </div>
  
          </div>
  
          <div class="form">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="form-group col-md-6">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
  
        </div>
      </section><!-- End Contact Section -->
  
    </main><!-- End #main -->
  
    <!-- ======= Footer ======= -->
    {% include 'pages/helpers/Footer.html'%}
   <!-- End Footer -->
  
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->
  
    
  
  </body>

{%endblock content %}
</html>