
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
<body>
        <img width="335px" height="224px" style="text-align:center" src="https://worldspeedcargo.s3.eu-west-3.amazonaws.com/static/assets/img/hero-carousel/ddddddddd2.jpg" />
    <div >
        <div class="users_info" style="display:flex;justify-content:space-around">
            <div>
                <h5>Shipment Information</h5>
                <p>Melissa Brooks</p>
                <p>Allep Silicon</p>
                <p>+345 4545454</p>
                <p>Mssshs@gmail.com</p>
            </div>
            <div>
                <h5>Receiver Information</h5>
                <p>Melissa Brooks</p>
                <p>Allep Silicon</p>
                <p>+345 4545454</p>
                <p>Mssshs@gmail.com</p>
            </div>
        </div>


        <h5 style="text-align:center">Shipment Information</h5>
            <div style="width:50%; margin-top:30px;margin-right:auto;margin-left:auto">
                <table class="table">
                    <tbody>
                      <tr>
                        <td>Mark</td>
                        <td>Otto</td>
                      </tr>
                      <tr>
                        <td>Jacob</td>
                        <td>Thornton</td>
                      </tr>
                    </tbody>
                  </table>
               
            </div>



            <div style="margin-top:70px">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
    </div>

</body>

</html>